# Question 1

In [1]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# Question 2

In [2]:
n = int(input("Saisir le nombre: "))
print("Le nombre de chiffres est: ",len(str(n)))

Saisir le nombre: 75869
Le nombre de chiffres est:  5

# Question 3

In [3]:
def cube(n):
    return n**3

cube(2)

8

# Question 4

In [6]:
def prod_ou_somme(a,b):
    produit = a*b
    somme = a+b
    return somme if produit>1000 else produit

print(prod_ou_somme(24,65))
print(prod_ou_somme(13,30))

89
390

# Question 5

In [7]:
def verif(liste):
    return liste[0]==liste[-1]

a = [2,4,23,9,4,2]
b = [3,7,13,9,2,5]

print(verif(a))
print(verif(b))

True
False

# Question 6

In [15]:
def new_list(a,b):
    c = []
    for i in range(len(a)):
        if a[i]%2==1:
            c.append(a[i])
    for i in range(len(b)):
        if b[i]%2==0:
            c.append(b[i])
    return c

liste1 = [10, 20, 23, 11, 17]
liste2 = [13, 43, 24, 36, 12]
new_list(liste1, liste2)

[23, 11, 17, 24, 36, 12]

# Question 7

In [16]:
def occurrence(liste):
    dictionnaire = {}
    for i in range(len(liste)):
        dictionnaire[liste[i]]=liste.count(liste[i])
    return dictionnaire

liste = [11, 45, 8, 11, 23, 45, 23, 45, 89 ]
occurrence(liste)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

# Question 8

In [17]:
def intersect(a,b):
    inter = a.intersection(b)
    for i in inter:
        a.remove(i)
    print("L'intersection est:",inter)
    print("Le premier ensemble après suppression est:",a)

set1 = {65, 42, 78, 83, 23, 57, 29}
set2 = {67, 73, 43, 48, 83, 57, 29}
intersect(set1, set2)

L'intersection est: {57, 83, 29}
Le premier ensemble après suppression est: {65, 23, 42, 78}